body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #fafafa;
}

#main-container {
    display: flex;
    gap: 20px;
}

.friends-list {
    display: none;
}

.friend-card {
    border: 1px solid #ddd;
    padding: 10px;
    width: 250px;
    background-color: #fafafa;
    border-radius: 5px;
}

.friend-name {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.friend-username {
    margin: 5px 0;
    font-size: 1.1em;
    color: #444;
}

.puzzles-built,
.friend-count {
    margin: 5px 0;
    font-size: 1em;
    color: #555;
}

.add-friend {
    margin-top: 20px;
}

#friend-input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 70%;
    margin-right: 5px;
    box-sizing: border-box;
}

#add-friend-btn {
    padding: 8px 12px;
    margin-top: 5px;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #add-friend-btn:hover {
    background-color: #45a049;
  }
  
  .message {
    margin-top: 10px;
    font-size: 0.9em;
    color: #d00;
  }

  .remove-friend-btn {
    padding: 5px 10px;
    margin-top: 5px;
    border: none;
    background-color: #d9534f;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.remove-friend-btn:hover {
    background-color: #c9302c;
}
