<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register</title>
  <link rel="stylesheet" href="{{url_for('static',filename='gamestyle.css')}}" />
  <script src="{{url_for('static', filename='script.js')}}"></script>
</head>
<body>
  <div class="register-page">
    <h2>Register to create an account</h2>
    <form method="post" action="{{ url_for('main.registerPage') }}" id="Registerdata">
      {{ form.csrf_token }}
      <div class="rinput-group">
        {{ form.username.label }}
        {{ form.username(id="username", required=True) }}
      </div>

      <div class="rpassword-box">
        {{ form.password.label }}
        {{ form.password(id="password", required=True) }}
      </div>

      <div class="email-box">
        {{ form.email.label }}
        {{ form.email(id="email", required=True) }}
      </div>

      <div id="errorRgst" class="error-Rgst" style="display:none;"></div>

      <button type="submit" class="register-button">Register</button>
      <!-- form validation errors -->
      {% for field, errors in form.errors.items() %}
        {% for error in errors %}
          <p class="error">{{ error }}</p>
        {% endfor %}
      {% endfor %}

    </form>

  </div>
</body>
</html>
