<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wild Puzzles</title>
    <!-- <link rel="stylesheet" href="puzzleStyles.css"> don't need this anymore -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- gets the puzzle to be solved from the server -->
    <script>
        // this variable will be referenced in solvePuzzle.js to generate the puzzle
        const requestedPuzzle = {role: "{{role}}",puzzleSize: {{puzzleSize}},rowClues: {{rowClues}},
        columnClues: {{colClues}},puzzleName: "{{puzzleName}}", parTime: {{puzzleParTime}},
        difficulty: {{puzzleDifficulty}}, puzzleid: {{puzzleid}}, numSolved: {{numSolved}}}
        console.log(requestedPuzzle)
    </script>
    <!-- runs the actual client-side code -->
    <script src="{{ url_for('static', filename='solvePuzzle.js') }}"></script>
</head>
<body class="bg-cyan-50 h-screen text-black" style="background: linear-gradient(135deg, #0a0f2c, #000000); font-family: 'Arial', sans-serif;">
    <div id="page" class="grid grid-rows-[1fr_8fr_1fr] h-full">
        <div class="header w-full flex items-center bg-zinc-400">
            <span class="navbar ml-auto">
                {% if current_user.is_authenticated %}
                    Hello, {{ current_user.username }} |
                    <button onclick="location.href='/logout'">Logout</button>
                {% else %}
                    <button onclick="location.href='/login'">Sign In!</button>
                {% endif %}
            </span>
        </div>
        <div class="main grid grid-cols-[1fr_2fr_1fr] w-full h-full">
            <div id="sidebar" class="w-full h-full flex items-center justify-center p-10">
                <div id="stats" class="w-full h-full border-black-900 p-10 rounded-3xl grid grid-rows-[1fr_1fr]" style="background-color: rgba(255, 255, 25, 0.1);">
                    <div class="h-full w-full">
                        <div class="w-full text-center text-sm">Puzzle #{{puzzleid}}</div>
                        <div class="w-full text-center text-2xl">{{ puzzleName | unescape }}</div>
                        <div class="w-full text-center text-xl">Created by: {{creatorUsername | unescape}}</div>
                        <div class="w-full text-center text-xl">{{ puzzleSize[0] }}x{{ puzzleSize[1] }} {% if puzzleDifficulty <= 3 %} Easy {% elif puzzleDifficulty <= 7 %} Medium {% else %} Hard {% endif %} ({{puzzleDifficulty}})</div>
                        <div class="w-full text-center text-xl">{{numSolved}} solved</div>
                    </div>
                    <div class="h-full w-full">
                        <div id="timer" class="w-full text-center text-6xl">00:00</div>
                        <div class="w-full text-center">Par Time: {{puzzleParTime}}</div>
                        <div class="w-full text-center">Accuracy Score: 100%</div>
                        <div id="progress" class="w-full text-center text-sky-800 font-bold">Progress 0/25 (0%)</div> <!-- text-rose-500 error, emerald-500 success, sky-800 incomplete -->
                        {% if role == "editor" %}
                        <button id="export" onclick="exportPuzzle()" class="bg-sky-400 font-bold text-center w-full rounded pt-2 pb-2">Export Puzzle</button>
                        {% else %}
                        <button id="submit" onclick="submitPuzzle()" class="bg-sky-400 font-bold text-center w-full rounded pt-2 pb-2">Submit Solution</button>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="puzzle p-4 w-full" id="puzzle">
                <!-- will be filled dynamically by solvePuzzle.js on load -->
            </div>
        </div>
        <div class="footer w-full h-full" style="background-color: rgba(255, 255, 25, 0.1);">

        </div>
    </div>
</body>
</html>